@media screen and (max-width:728px) {
    #sidenav {
        visibility: hidden;
    }
    #sidenav2 {
        visibility: hidden;
    }
    #mew-form {
        width: 80%;
    }
    #mews {
        width: 80%;
    }
}

@media screen and (max-width:900px) {
    #sidenav {
        margin: 0px;
    }
}

.title {
    text-align: center;
}

.error-message {
    background: #BBBBBB;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.sidenav {
    border-radius: 3px;
    height: 90%;
    width: 25%;
    margin: 7px 0px 0px 20px;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h3 {
    text-align: center;
    color: #66757F;
    font-weight: bolder;
}

.sidenav ul {
    list-style-type: none;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 18px;
}

.sidenav li:hover {
    color: steelblue;
}

.sidenav .iconify {
    margin-right: 20px;
}

.sidenav2 {
    border-radius: 3px;
    height: 90%;
    width: 25%;
    margin: 7px 0px 0px 20px;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 72.5%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav2 h3 {
    text-align: center;
    color: #66757F;
    font-weight: bolder;
}

main {
    font-size: 15px;
    padding-top: 54px;
}

.mew-form {
    padding: 25px 0px;
}

.mew-form,
.loading {
    width: 45%;
    margin: 0 auto;
}

.loading {
    text-align: center;
}

.mews {
    width: 45%;
    margin: 0 auto;
}

.mews>div {
    background: hsl(0, 0%, 95%);
    padding: 12px;
    border-radius: 4px;
}

.mews>div>h3 {
    word-wrap: break-word;
}

.mews>div>p {
    word-wrap: break-word;
}

.mews>div:not(:last-child) {
    margin-bottom: 8px;
}

.button-primary {
    margin-bottom: 0px;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.iconify {
    color: #BBBBBB;
}

.iconify:hover {
    color: #666666;
}